
.whole {
  height: 100vh;
  width: 100%;
  min-width: 900px;
}
.header {
  height: 10%;
  width: 100%;
  background: linear-gradient(to bottom, #00ac97, #00ac97);
  position: relative;
}
.theme {
  width: 20%;
  background: #67b5b7;
  height: 90%;
  position: relative;
  float: left;
}
.contents {
  width: 80%;
  height: 90%;
  margin-left: 20%;
  background-color: white;
}

.header__search {
  width: 50px;
  height: 50px;
  background-color: lightskyblue;
  position: absolute;
  right: 30px;
}
