
<% @musics.each do |music| %>
  <li class="musics__item">
    <p class="musics__title"><%= music.title %></p>
    <p class="musics__artist"><%= music.artist ? music.artist.name : "none" %></p>
  </li>
<% end %>
