
<% @musics.each do |music| %>
  <li class="musics__item" id=<%= "music_#{music.id}" %>>
    <p class="musics__title"><%= music.title %>                        <%= audio_tag("/wave_data/#{music.path}",controls: true) %></p>
    
    
  </li>
<% end %>
